.hoje {
  color: darkred;
}

.amanha {
  color: darkblue;
}

.link {
  text-decoration: none;
}

h2 a {
  color: seagreen;
}

p {
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
